
*{
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color:rgb(121, 121, 226);
  font-family:'Calibri, ';
  font-size: 18px;
  color:black;
}

.topo {
  background: rgb(229, 229, 241);
  padding: 30px;
}


.topo a{
  color:blue;
  text-decoration: none;
}

.rodape {
  background-color:rgb(229, 229, 241);
  color:blue;
  padding: 20px;
  text-align: center;
}

.botao {
  background-color: blue;
  color:white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  font-size: 18px; 
  border:0
}

.botao:hover {
  background-color: rgb(229, 229, 241);
}

.materia {
  background-color: rgb(229, 229, 241);
  padding: 20px;
  margin-bottom: 10px;
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.materia img {
  width: 100%;
  margin-bottom: 20px;
}

.materia h1 {
  margin-bottom: 10px;
  font-size: 30px;
  color: blue;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: 1200px;
}

.menu a:hover {
  color:rgb(229, 229, 241)
}

.menu li{
  margin-right: 50px;
}


main {
  padding: 10px;
}

.grade {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(700px,1fr));
  gap: 30px
}

.titulo {
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
}

.texto {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: rgb(17, 17, 17)
}

.navegação {
  display:flex
}

.rotulo {
  display: block;
  margin-bottom: 20px;
}

.campo {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  font-family: 'Calibri';
  border:1px none;
  background-color:rgb(121, 121, 226);
}

.campo:focus {
  background-color: rgb(121, 121, 226);
  outline: none;
}

textarea.campo {
  height: 150px;
  padding: 10px;
  font-family: 'Calibri';
}

.contato {
  background-color: rgb(192, 192, 241);
  padding: 30px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mapa {
  width: 100%;
}