
*{
  margin: 0;
}


body {
  background-color:rgb(121, 121, 226);
  font-family:'Calibri, ';
  font-size: 18px;
  color:black;
}

.topo {
  background-color: rgb(229, 229, 241);
  padding: 30px;
}


.topo a{
  color:blue;
  text-decoration: none;
}

.botao {
  background-color: bisque;
  color:blue;
  text-decoration: none;
  padding: 10px;
  
}

.materia {
  background-color: rgb(229, 229, 241);
  padding: 20px;
  margin-bottom: 10px;
}


.rodape {
  background-color:rgb(229, 229, 241);
  color:blue;
  padding: 20px;
}

main {
  padding: 10px;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: 800px;
}

.menu a:hover {
  color:rgb(229, 229, 241)
}



.menu li{
margin-right: 50px;
}

.navegação {
  display:flex
}
